/* Defining Custom Font*/
@font-face {
  font-family: "Gotham Spotify";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Gotham-Spotify/GothamMedium.ttf") format("opentype");
}

@font-face {
  font-family: "Gotham Spotify";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Gotham-Spotify/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Spotify";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Gotham-Spotify/Gotham-BookItalic.otf") format("opentype");
}

/* Custom Scroolbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 179, 179);
}

body,
.root {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Gotham Spotify";
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
